@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=PT+Sans:wght@400;700&family=Poppins:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    width: 100%;
}
body {
    font-size: 1rem;
    line-height: 1.4;
    font-family: serif,'Roboto';
}
h1,h2,h3,h4,h5,h6 {
    font-family: serif;
}

h1 { font-size: 2.7rem;}
h2 { font-size: 2.4rem;}
h3 { font-size: 2.1rem;}
h4 { font-size: 1.8rem;}
h5 { font-size: 1.5rem;}
h6 { font-size: 1.2rem;}

.p-0 { padding: 0; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-50 {padding: 50px;}

.pt-0 { padding-top: 0; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-50 {padding-top: 50px;}
.pt-80 {padding-top: 80px;}

.pb-0 { padding-bottom: 0; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }

.ps-0 { padding-left: 0; }
.ps-10 { padding-left: 10px; }
.ps-15 { padding-left: 15px; }
.ps-20 { padding-left: 20px; }
.ps-30 { padding-left: 30px; }
.ps-50 {padding-left: 50px;}
.ps-80 {padding-left: 80px;}

.pe-0 { padding-right: 0; }
.pe-10 { padding-right: 10px; }
.pe-15 { padding-right: 15px; }
.pe-20 { padding-right: 20px; }
.pe-30 { padding-right: 30px; }
.pe-90 { padding-right: 90px;}

.m-0 { margin: 0; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-30 { margin: 30px; }

.mt-0 { margin-top: 0; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-50 {margin-top: 50px;}
.mt-80 {margin-top: 80px;}


.mb-0 { margin-bottom: 0; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 {margin-bottom: 50px;}
.mb-60 {margin-bottom: 60px;}

.ms-0 { margin-left: 0; }
.ms-10 { margin-left: 10px; }
.ms-15 { margin-left: 15px; }
.ms-20 { margin-left: 20px; }
.ms-30 { margin-left: 30px; }

.me-0 { margin-right: 0; }
.me-10 { margin-right: 10px; }
.me-15 { margin-right: 15px; }
.me-20 { margin-right: 20px; }
.me-30 { margin-right: 30px; }

.container {
    width: 70%;
    margin: 0 auto;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.light-section {
    background-color: #FFF;
    color: #111;
}
.grey-section {
    background-color: #F1F1F1;
    color: #111;
}

.btn {
    padding: 10px 10px;
    font-size: 1rem;
}
.btn.btn-grey,
.btn.btn-grey:link,
.btn.btn-grey:visited {
    background-color: #F1F1F1;
    color: #111;
    margin: 16px 0px;
    padding: 8px 16px;
    font-size: 15px;
    border: none;
}
.btn.btn-grey:hover {
    background-color: #BBB;
}
.row:after {
    clear: both;
    display: block;
    content: '';
}
.col {
    float: left;
}

.col.col-12 { width: 100%; }
.col.col-11 { width: 91.66%; }
.col.col-10 { width: 83.33%; }
.col.col-9 { width: 75%; }
.col.col-8 { width: 66.66%; }
.col.col-7 { width: 58.33%; }
.col.col-6 { width: 50%; }
.col.col-5 { width: 41.66%; }
.col.col-4 { width: 33.33%; }
.col.col-3 { width: 25%; }
.col.col-2 { width: 16.66%; }
.col.col-1 { width: 8.33%; }

.clearfix {clear: both;}

.navbar {
    color: #111;
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: #FFF;
}
.menu-item {
    list-style: none;
    display: inline-block;
    padding: 5px;
}
.menu-item > .menu-item-link {
    display: inline-block;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.menu-item-link,
.menu-item-link:link,
.menu-item-link:visited {
    color: #111;
    padding: 10px;
}
.menu-item-link:hover {
    background-color: #CCC;
}
.burger-image {
    position: relative;
    padding: 0%;
}
.le-text {
    top:83%;
    left: 2%;
    color: #333;
    font-size: 2.5rem;
    display: inline-block;
    font-weight: 200;
    position: absolute;
    letter-spacing: 4px;
}
.cat-text {
    top: 83%;
    left: 7%;
    color: #333;
    font-size: 2.5rem;
    display: inline-block;
    font-weight: 200;
    position: absolute;
    letter-spacing: 4px;
}
.section-title {
    color: #111;
    font-size: 36px;
    margin: 10px 0px;
    font-weight: 100;
    letter-spacing: 5px;
}
.section-subtitle {
    color: #111;
    font-size: 18px;
    margin: 10px 0px;
    letter-spacing: 5px;
    font-weight: 100;
}
.para-info {
    font-size: 18px;
    line-height: 1.5;
}
.grey-text {
    color: #757575
}
.items-list {
    color: #111;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0px;
    line-height: 1.5;
    letter-spacing: 5px;
}
.desc {
    margin: 15px 0px;
    font-size: 15px;
    line-height: 1.5;
}
.contact-para {
    color: #111;
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0px;
}
.cont-loc {
    font-size: 18px;
    line-height: 1.5;
    color: #6078db;
}
.input-fields {
    border: none;
    border-bottom: solid 1px #CCC;
    background-color: #FFF;
    padding: 16px 8px;
    width: 100%;
}
.send-message {
    text-transform: uppercase;
}
.w3-link,
.w3-link:link,
.w3-link:visited {
    text-decoration: underline;
    color: #111
}
.w3-link:hover {
    color: green;
}
/* @media (min-width: 350px) and (max-width: 1100px) */
